@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

body {
    background-color: var(--color-primary);
    color: var(--color-white);
}

@theme {
  --color-primary: #0B0A0D;
  --color-secondary-1: #252329;
  --color-secondary-2: #1E1C21;
  --color-white: #FCFAFF;
  --color-gray: #D2CED9;
  --color-black: #0B0A0D;
  --color-purple: #D8C1FF;


  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}